
<!-- how to add this view to show a summary of user profile?
 -->
<!-- <p id="notice"><%= notice %></p>

<h1><%=@current_user%></h1>

<table class="table">
  <thead>
    <tr>
      <th>Hi <%current_user.first_name%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= current_user.first_name %></td>
        <td><%= current_user.last_name %></td>
        <td><%= current_user.email %></td>
        <td><%= current_user.date_of_birth %></td>
        <td><%= current_user.gender %></td>

          <td><%= link_to 'Edit', edit_user_registration_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 -->
