<!-- TO ADJUST TO BOOKING FORM -->

<%= simple_form_for(@booking) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :book_date %>
    <%= f.input :book_time %>
    <%= f.input :location, label: "Meet up location" %>
    <%= f.input :content, label: "Leave a message to owner" %>
    <%= f.input :apartment_id, as: :hidden %> <!-- hide the selected apartment -->
    <%= f.input :price %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary'%>
  </div>
<% end %>
