<!-- ADJUST TO BOOKING INDEX, USE APARTMENT #INDEX AS BASE -->
<div class="container my-4">
    <h1>My Bookings</h1>
    <% @bookings.each do |booking| %>
    <div class="card rounded-lg w-100 my-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="my-3">
                        <%= booking.apartment.description? ? booking.apartment.description : booking.apartment.address  %>
                    </h4>
                </div>
                <div class="col-6 col-md-3">
                    <div>
                        <small>User:</small><br>
                        <%= booking.user.full_name %>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div>
                        <small>Host:</small><br>
                        <%= booking.apartment.user.full_name %>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <small>Meetup time</small><br>
                    <%= booking.book_date %><br>
                    <%= booking.book_time.strftime("%H:%M") %>
                </div>
                <div class="col-6 col-md-3">
                    <small>Meetup location</small><br>
                    <%= booking.location %>
                </div>
                <div class="col-6 col-md-3">
                    <small>Message</small><br>
                    <%= simple_format(booking.content) %>
                </div>
                <div class="col-6 col-md-3 py-2">
                    <% if policy(booking).show? %>
                    <%= link_to 'Details', booking_path(booking), class: "btn btn-primary btn-sm my-1" %>
                    <% end %>
                    <% if policy(booking).edit? %>
                    <%= link_to 'Edit', edit_booking_path(booking), class: "btn btn-primary btn-sm my-1" %>
                    <% end %>
                    <% if policy(booking).destroy? %>
                    <%= link_to 'Destroy', booking_path(booking), class: "btn btn-danger btn-sm my-1", method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <% end %>
    <br>
    <% if policy(Booking).create? %>
    <%#= link_to 'New Booking', new_booking_path, :class => 'btn btn-primary' %>
    <!-- this requires another form to select apartment (admin use?) -->
    <% end %>
</div>
