<h1>users#show</h1>
<h2>User : <%= @user.email %></h2>
<p>Name : <%= @user.first_name %> <%= @user.last_name %></p>
<!-- TODO: display user profile -->
<%= link_to 'Edit Profile', edit_profile_user_path(@user), class: "btn btn-primary " %>
<%= link_to 'Edit Avatar', edit_avatar_user_path(@user), class: "btn btn-primary " %>