<h1>users#show</h1>
<h2>User : <%= @user.first_name %> <%=@user.last_name %></h2>
<h2>Date of Birth: <%=user.date_of_birth %></h2>
<h2>Email : <%=user.email %></h2>
<h2>Gender : <%=user.gender %></h2>
<h2>Profile picture: <% user.avatar %></h2>


<!-- TODO: display user profile -->
<%= link_to 'Edit Profile', edit_profile_user_path(@user), class: "btn btn-primary " %>
<%= link_to 'Edit Avatar', edit_avatar_user_path(@user), class: "btn btn-primary " %>
