<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Welcome to this lovely place</p>

<%= link_to 'View my Apartments', apartments_path, :class => "btn btn-primary" %>
<%= link_to 'Add new Apartments', new_apartment_path, :class => "btn btn-primary" %>


<!--Moved to Navbar----
<%= link_to 'Contacts', pages_contacts_path, :class => "btn btn-primary" %>
<%= link_to 'About', pages_about_path, :class => "btn btn-primary" %>
<%= link_to 'Terms and Conditions', pages_terms_and_conditions_path, :class => "btn btn-primary" %>

 -->
