
<%= simple_form_for(@apartment) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :status, collection:['Available', 'Sold'] %>
    <%= f.input :address %>
    <%= f.input :price %>
    <%= f.input :latitude %>
    <%= f.input :longtitude %>
    <%= f.input :district %>
    <%= f.input :description %>
    <%= f.input :size %>
    <%= f.input :year_built, collection: (1950..Date.today.year) %>
    <%= f.input :bedrooms %>
    <%= f.input :elevator %>
    <%= f.input :furnished %>
    <%= f.association :user, :label_method => lambda { |user| user.email } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
