<div class="apartment_form">
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>"></script>
  <%= simple_form_for(@apartment) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :district, collection: Apartment::options_for_district, required: true %>
      <%= f.input :address, required: true %>
      <%= f.input :latitude, as: :hidden %>
      <%= f.input :longtitude, as: :hidden %>
      <div class="my-4">
        <label>Drag the marker to position the apartment</label>
        <div id="map"></div>
      </div>
      
      <%= f.input :description, required: true %>
      <%= f.input :price, required: true %>
      <%= f.input :size, required: true %>
      <%= f.input :year_built, collection: (1950..Date.today.year), required: true %>
      <%= f.input :bedrooms, required: true %>
      <%= f.input :elevator %>
      <%= f.input :furnished %>

      <%= f.label "Add Photos" %><br>
      <%= f.file_field :img, :multiple => true, name: "photos[img][]" %>
    </div>
    <% @apartment.photos.each do |photo| %>
      <div class="form-inputs my-4">
        <%= cl_image_tag photo.img, :transformation => { :width => 200, :crop => "pad" } %>
        <%= link_to 'Destroy', apartment_photo_path(@apartment, photo), method: :delete, data: { confirm: 'Are you sure?' }, class: "ml-2 btn btn-sm btn-danger" %>
      </div>
    <% end %>

    <div class="form-actions">
      <%= f.button :submit, :class => 'btn btn-primary my-4'%>
    </div>
  <% end %>
</div>