<div class="apartment_index_page">
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>"></script>

  <div id="map-data-container" style="display:none">
    <ul>
    <% @apartments.each do |apartment| %>
      <% img = image_path("shared/apartment_default.jpg") %>
      <% if apartment.photos.count > 0 %>
        <% img = cl_image_path(apartment.photos[0].img, :cloud_name => "preface", :transformation => { :width => 200, :height=> 200, :crop => "fill" }) %>
      <% end %>
      <li class="map-data" data-id="<%= apartment[:id]%>" data-address="<%= apartment[:address] %>" data-latitude="<%= apartment[:latitude] %>" data-longtitude="<%= apartment[:longtitude] %>" data-img="<%= img %>"></li>
    <% end %>
    </ul>
  </div>

  <div class="row">
    <div class="d-none d-md-block w-50">
      <div id="map"></div>
    </div>
    <div class="apartment-card-container">
      <% @apartments.each do |apartment| %>
        <div class="apartment-card">
          <%= link_to apartment.address, apartment_path(apartment), class: "apartment_link" %>

          <% if policy(apartment).edit? %>
            <%= link_to "Edit", edit_apartment_path(apartment), class: "ml-1 btn btn-sm btn-primary" %>
          <% end %>

          <% if policy(apartment).destroy? %>
            <%= link_to 'Destroy', apartment_path(apartment), method: :delete, data: { confirm: 'Are you sure?' }, class: "ml-1 btn btn-sm btn-danger" %>
          <% end %>

        </div>
      <% end %>
    </div>
  </div>

</div>
